.header {
  background-color: white;

  &__container {
    max-height: 80px;
    display: flex;
    padding: var(--spacing-03);
  }

  &__navigation {
    display: flex;
    gap: var(--spacing-05);
  }
}

.logo {
  img {
    height: 100%;
  }
}

.navbar {
  display: flex;

  &__list {
    display: flex;
    gap: var(--spacing-04);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    height: 80px;
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
    transition-property: color,box-shadow;

    &:hover {
      box-shadow: inset 0 -3px 0 -1px var(--tds-color-base-04,#dddfe0);
      color: var(--color-text);
    }
  }

  &__link.active {
    box-shadow: inset 0 -3px 0 -1px #666;
    color: var(--color-text);
  }
}
