<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__navigation">
        <a [routerLink]="['/']" class="logo">
          <img src="assets/logo-light.svg" alt="">
        </a>
        <nav class="navbar">
          <ul class="navbar__list">
            <li class="navbar__item">
              <a
                class="navbar__link"
                [routerLink]="['./home']"
                routerLinkActive="active"
              ><span>Главная</span></a>
            </li>
            <li class="navbar__item">
              <a
                class="navbar__link"
                [routerLink]="['./payments']"
                routerLinkActive="active"
              >Платежи</a>
            </li>
            <li class="navbar__item">
              <a
                class="navbar__link"
                [routerLink]="['./history']"
                routerLinkActive="active"
              >История</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>
