html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #F6F7F8;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
  color: var(--main-text);
  cursor: pointer;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

section, header, footer {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  section, header, footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  section, header, footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  section, header, footer {
    padding: 0 calc(50vw - 590px);
  }
}
section {
  display: flex;
  gap: 10px;
}


h1 {
  color: var(--main-text);
  font-weight: 800;
}

h2 {
  color: var(--main-text);
  font-weight: 700;
}

h3 {
  color: var(--main-text);
  font-weight: 800;
}

h4 {
  color: var(--main-text);
}

p {
  color: var(--main-text);
}

span {
  color: var(--main-text);
}

input,
button,
textarea,
select {
  font: inherit;
}

input, textarea {
  outline: none;
  background-color: #EEEEEE;
  border: none;
  padding: 10px 10px;
  width: 100%;
}

input:active, input:hover,input:focus {
  outline: 0;
  outline-offset: 0;
}
