:root {
  --spacing-01: 4px;
  --spacing-02: 6px;
  --spacing-03: 8px;
  --spacing-04: 10px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;

  --color-text: #2e3440;
  --color-text-hover: #1e222a;
}
